<!DOCTYPE HTML>
<html>
<head>
    <title>PixelWar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/canvasCreater.js"></script>
    <script src="../static/popoverConfig.js"></script>

    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/bootstrap.bundle.js"></script>

    <script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="../static/mainWebService.js"></script>

    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

</head>
<body>

<div id="hover1" class="holder">
    <div id='idTool' class="btn-group-toggle btn-group-vertical align-middle" data-toggle="buttons">

        <label id="popoverColorLabel0" class="popoverColor btn btn-secondary active">
            <input type="radio" name="radioColor" autocomplete="off" value="brush" checked> <i class="far fa-circle" style="color: #ffc107 !important; font-size: 20px"></i>
        </label>
        <label id="popoverColorLabel1" class="popoverColor btn btn-secondary">
            <input type="radio" name="radioColor" autocomplete="off" value="brush"> <i class="far fa-circle" style="color: #dc3545 !important; font-size: 20px"></i>
        </label>
        <label id="popoverColorLabel2" class="popoverColor btn btn-secondary">
            <input type="radio" name="radioColor" autocomplete="off" value="brush"> <i class="far fa-circle" style="color: #17a2b8 !important; font-size: 20px"></i>
        </label>
        <label id="popoverColorLabel3" class="popoverColor btn btn-secondary">
            <input type="radio" name="radioColor" autocomplete="off" value="eraser"> <i class="fas fa-eraser" style="color: #ffffff !important; font-size: 20px"></i>
        </label>

    </div>
</div>

<div id="divCanvas" style="width: 100vw; height: 100vh;">
</div>

</body>