<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <script type='text/javascript'>
        var stompClient = null;
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/bootstrap.bundle.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="../static/webService.js"></script>

    <script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>
    <script src="../static/canvasCreater.js"></script>
</head>
<body>

<select id = 'idTool'>
    <option value="brush">Brush</option>
    <option value="eraser">Eraser</option>
</select>

<button onclick="createCanvas('divCanvas', 'idTool')">Poexali</button>
<button onclick="sendCanvas()">Start</button>

<div id="divCanvas" style="width: 1366px; height: 768px;">

</div>

</body>