<!DOCTYPE HTML>
<html>
<head>
    <title>PixelWar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="../static/welcomeWebService.js"></script>

    <link rel="stylesheet" href="../static/bootstrap.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>

<div class="mx-auto" style="width: 50%; height: 50%">
    <table class="table">
        <thead>
        <tr>
            <th class="col">Name</th>
            <th class="col">Picture</th>
            <th class="col">Peolpe</th>
            <th class="col">Connect</th>
            <th class="col">Delete</th>
        </tr>
        </thead>
        <tbody id="welcomeTableTbody">

        </tbody>
    </table>
</div>

</body>